<div class="container mx-auto py-20">
  <h1 class="text-5xl font-bold text-white text-center mb-12">Welcome to Blogging App</h1>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <div class="bg-white rounded-lg overflow-hidden shadow-md">
      <div class="p-6">
        <h2 class="text-xl font-semibold text-gray-800 mb-4">Featured Article</h2>
        <p class="text-gray-600 leading-relaxed mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus eu metus vestibulum fermentum.</p>
        <p class="text-gray-400">Posted 2 days ago</p>
      </div>
    </div>

    <div class="bg-white rounded-lg overflow-hidden shadow-md">
      <div class="p-6">
        <h2 class="text-xl font-semibold text-gray-800 mb-4">Popular Topics</h2>
        <ul class="list-disc text-gray-600 leading-relaxed mb-4">
          <li>Technology</li>
          <li>Travel</li>
          <li>Food & Recipes</li>
          <li>Fitness & Health</li>
        </ul>
      </div>
    </div>

    <div class="bg-white rounded-lg overflow-hidden shadow-md">
      <div class="p-6">
        <h2 class="text-xl font-semibold text-gray-800 mb-4">What Our Users Say</h2>
        <p class="text-gray-600 leading-relaxed mb-4">"I love Blogging App! It's so easy to use and has helped me connect with a community of passionate writers." - Jane Doe</p>
        <p class="text-gray-400">Posted by Jane Doe, 1 week ago</p>
      </div>
    </div>
  </div>

  <div class="mt-16 text-center">
  <p class="text-2xl font-medium text-gray-900 dark:text-white">Join our community of bloggers and start sharing your thoughts today!</p><br>
  <% if current_user %>
    <%= link_to new_blog_post_path, class: "btn btn-blue" do %>
      <span class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Start Writing Your Blog</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
      </svg>
    <% end %>
  <% else %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-green" %>
  <% end %>
</div>

</div>
